
.headerinpt input{
	border-radius: 20px;
}

.middle{
	display: flex;
	padding: 100px 0 80xp 0;
}
.middle_left{
	width: 25%;
	height: 100vh;
    background: #F6F6F7;
}
.middle_left ul{
	margin-top: 100px;
	text-align: center;
	
}
.middle_left li{
	line-height: 100px;
	font-weight: bold;
	font-size: 30px;
	height: 100px;
}
.middle_left li:nth-child(1){
	background-color: white;
}
.middle_left li:nth-child(1) p{
	border-left: 1px solid #0000FF;
}





.middle_right{
	height: 100vh;
	width:75%;
}

.middle_right h1{
	margin: 20px 0;
	font-size: 30px;
	padding: 10px;
	font-weight: bold;
}
.middle_right ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}
.middle_right li{
	width: 30%;
}
.middle_right li p{
	margin-top: 15px;
	font-size: 26px;
	font-weight: 500;
}
.middle_right .right{
	margin-top: 100px;
}